.NormalCharacterStyle
{
  font-family : heebo;
  font-size : 40px;
  color : #FFFFFF;
  color : rgb(255, 255, 255);
}
.img{
    //width: 10px;
    max-width: 30%;
    display: block;
  padding-left: 20px;
 
  width: 50%;
}