<ion-content>
  <ion-header style="background-color: transparent;">
    <ion-toolbar>
      <ion-title> 
          <ion-button style="position:relative; right: 0;">
            <ion-icon name="chevron-forward-outline" ></ion-icon>
            
          </ion-button>
            <img class="img" src="assets/user.png" onclick="" style="margin-right: 2vh; position:absolute; left: 0;" />
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
</ion-content>
<!-- <IonMenu side="start" menuId="first">
  <IonHeader>
    <IonToolbar color="primary">
      <IonTitle>Start Menu</IonTitle>
    </IonToolbar>
  </IonHeader>
  <IonContent>
    <IonList>
      <IonItem>Menu Item</IonItem>
      <IonItem>Menu Item</IonItem>
      <IonItem>Menu Item</IonItem>
      <IonItem>Menu Item</IonItem>
      <IonItem>Menu Item</IonItem>
    </IonList>
  </IonContent>
</IonMenu> -->

<body style="z-index: 1; position:inherit; ">
  <div style="text-align: center;">
    <ion-card style="z-index: 100000; width: 270px; height: 170px; margin: 150px; margin-left: 315px; 
    background-color: #E5E5E5; border-radius: 25px;">
      <br>
      <br>

      <label style="color: #2C388A; font-family: FbMatritsaM; font-size: 30px; margin: 20px;">נרשמת בהצלחה!</label>
      <br />
      <br />
      <label style="color: #2C388A; font-family: FbMatritsaM; font-size: 18px;">תודה שבחרת parkPull!</label>
    </ion-card>

    <ion-button class="btnForAll" style="margin-top: -150px;">
      ערוך את הפרופיל שלך</ion-button>

    <br />
    <ion-button class="btnForAll" style="margin-top: -40px; font-size: 16px; --background: #2C388A; ">אישור</ion-button>

  </div>
  <br>
  <br>
  <br>


</body>