<ion-content color="#09091E">
    <ion-toolbar>
        <ion-title>
            <img class="img" src="assets/user.png" href="http://localhost:8100" />
        </ion-title>
    </ion-toolbar>
    <form #form="ngForm" [formGroup]="parkSettingsForm" (ngSubmit)="parkSettings(form)">
        <ion-grid>
            <ion-row color="primary" justify-content-center>
                <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
                    <div text-center>
                        <h3>הכנס פרטי חניה</h3>
                    </div>
                    <div padding>

                        <ion-item>
                            <ion-input formControlName="Length" name="Length" type="text" placeholder="אורך" ngModel required></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-input formControlName="width" name="width" type="text" placeholder="רוחב" ngModel required></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-input formControlName="height" name="height" type="text" placeholder="גובה" ngModel required></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-input formControlName="Weight" name="Weight" type="text" placeholder="מקסימום משקל" ngModel required></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-input formControlName="Price" name="Price" type="text" placeholder="מחיר" ngModel required></ion-input>
                        </ion-item>





                        <ion-item>
                            <ion-label></ion-label>
                        </ion-item>
                        <!-- <ion-grid>
                                <ion-row color="primary" justify-content-center>
                                    <ion-col align-self-center size-md="4" size-lg="3" size-xs="10"> -->

                        <ion-label>מיקום החניה</ion-label>
                        <!-- <ion-item>
                            <ion-input formControlName="LengthPoint" name="LengthPoint" type="text" placeholder="נקודת אורך" ngModel required></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-input formControlName="widthPoint" name="widthPoint" type="text" placeholder="נקודת רוחב" ngModel required></ion-input>
                        </ion-item> -->
                        <ion-item>
                            <ion-item>
                                <ion-label position="floating">כתובת</ion-label>
                                <input ngx-google-places-autocomplete #placesRef="ngx-places" formControlName="adress" />
                            </ion-item>
                        </ion-item>

                        <!-- </ion-col>
                                </ion-row>
                            </ion-grid> -->


                    </div>
                    <div padding>
                        <ion-button size="large" type="submit" [disabled]="form.invalid" expand="block" routerLink="/registration-success">אישור</ion-button>
                        <ion-button size="large" type="submit" expand="block" routerLink="/registration-success">אין ברשותי חניה</ion-button>
                        <!-- <ion-link size="large" type="submit" expand="block" routerLink="/registration-success"> אין ברשותי חניה</ion-link> -->
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
</ion-content>