<ion-header style="background-color: transparent !important;">
    <ion-toolbar>
        <ion-title>
            <div style="display: inline; text-align: center;">
                <ion-button style="position:relative; right: 0;">
                    <ion-icon name="chevron-forward-outline"></ion-icon>
                </ion-button>

                <img class="img" src="assets/user.png" onclick="" style="margin-right: 2vh; position:absolute; left: 0;" />

            </div>
        </ion-title>
    </ion-toolbar>
</ion-header>

<!-- <ion-list-header class="bar-positive"> 
    <div class="buttons">
      <a class="button button-icon ion-arrow-left-c" ui-sref="home"></a>
    </div>
    <h1 class="title">Facebook</h1>
    <div class="buttons" style="background-color: lightcoral;">
      <a class="button button-icon ion-ios-search"></a>
      <a class="button button-icon ion-android-more-vertical"></a>
    </div>
  </ion-list-header>  -->

<ion-content>
    <form [formGroup]="profileDetailsForm" novalidate (ngSubmit)="profileDetails(profileDetailsForm)">
        <ion-button class="btnForAll" style="--background: #2C388A;" size="large" routerLink="/car-settings-for-edit"> הרכב שלי </ion-button>

        <ion-button class="btnForAll" style="--background: #2C388A;" size="large" routerLink="/park-settings-for-edit"> החניה שלי </ion-button>
        <ion-button class="btnForAll" style="--background: #2C388A;" size="large" routerLink="/add-car"> הוספת רכב </ion-button>
        <ion-button class="btnForAll" style="--background: #2C388A;" size="large" routerLink="/add-park"> הוספת חניה </ion-button>
        <ion-button class="btnForAll" style="--background: #2C388A;" size="large" routerLink="/history"> היסטוריה </ion-button>
        <ion-button class="btnForAll" style="--background: #2C388A;" size="large" routerLink="/park-settings"> לוח זמני השכרת החניה שלי </ion-button>


    </form>
</ion-content>